@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap'); */
:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Bebas Neue', sans-serif;

  font-style: normal;
}

.modal-content-custom {
  border-radius: 0; /* Sets border-radius to none */
  border: 10px solid red; /* Adds 8px red border */
}

/* About Page Container media query */

@media (max-width: 950px) {
  .aboutContainer {
    flex-direction: column;
  }
}

/* ..................  Home Page Media Query .................... */

.aboutContainer {
  max-width: 800px; /* Example value for the max-width */
  margin: 0 auto; /* Center the container */
}

@media (min-width: 768px) {
  /* Example media query for medium-sized screens */
  .aboutContainer {
    max-width: 1000px; /* Adjust to desired fixed content width */
  }
}
